.main {
    background-color: var(--green20);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 333px;
    padding: 31px 32px 20px;
    margin-top: 20px;

}

.title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 15px;
}

.textBlocks {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.textBlock p:nth-child(1) {
    font-weight: 600;
    font-size: 18px;
}
.textBlock p:nth-child(2) {
margin-top: 5px;
}


.contentBlock {
    display: flex;
    align-items: center;

}