.content {
    display: flex;
    
}

.main {
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
}


.title {
    display: flex;
    align-items: center;
    gap: 15px;

    & h2 {
        font-weight: 600;
        font-size: 25px;
        color: #000;
    }

    & button {
        border-radius: 5px;
        width: 40px;
        height: 30px;
        background: var(--green60);
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            width: 20px;
        }
    }
}

.mainWrap {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.profileTextWrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: calc(100vw - 200px - 700px);
}

.imageBlock {

    & p {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 10px;
    }

    & img {
        border-radius: 10px;
        width: 400px;
        height: 300px;
        object-fit: cover;
        margin-bottom: 10px;
    }
}


.linksWrap {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.linksWrap a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: var(--green60);
    border-radius: 15px;
    width: 120px;
    height: 110px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: var(--white);
    padding-inline: 10px;
}